// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,

body {
}


.content {
    padding: 8rem 0;
    overflow:hidden;    
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h3 {
    color:orange;
}